:css
  .main {
    width: 1000px;
    height: 1000px;
    margin: 0px auto 0;
    text-align: center;
    font-size: 0;
    /background-color: blue;
  }

  .sub1 {
    width: 800px;
    height: 100px;
    margin: 0px auto 0;
    /background-color: red;
  }

  .sub2 {
    display: inline-block;
    width: 100px;
    height: 600px;
    margin: 0px;
    /background-color: red;
  }

  .center {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin: 15px;
    background-color: green;
  }
  
  .user1 {
    font-size: 0;
    width: 610px;
    height: 100px;
    margin: 0px auto 0;
    /background-color: blue;
    box-sizing: content-box;
    border: medium solid #ff00ff;
  }

  .name1 {
    font-size: 24pt;
    width: 600px;
    height: 50px;
    margin: 0px;
  }

  .point1 {
    display: inline-block;
    font-size: 24pt;
    width: 400px;
    height: 50px;
    margin: 0px;
    box-sizing: content-box;
    border-top: medium solid #ff00ff;
  }

  .chip1 {
    display: inline-block;
    font-size: 24pt;
    width: 200px;
    height: 50px;
    margin: 0px;
    box-sizing: content-box;
    border-top: medium solid #ff00ff;
    border-left: medium solid #ff00ff;
  }

  .user2 {
    font-size: 0;
    width: 110px;
    height: 600px;
    margin: 0px auto 0;
    /background-color: blue;
    box-sizing: content-box;
    border: medium solid #ff00ff;
  }

  .name2 {
    display: inline-block;
    font-size: 24pt;
    width: 50px;
    height: 600px;
    margin: 0px;
  }

  .point2 {
    display: inline-block;
    font-size: 24pt;
    width: 50px;
    height: 400px;
    margin: 0px;
    box-sizing: content-box;
    border-right: medium solid #ff00ff;
  }

  .chip2 {
    display: inline-block;
    font-size: 24pt;
    width: 50px;
    height: 200px;
    margin: 0px;
    box-sizing: content-box;
    border-right: medium solid #ff00ff;
  }

%p=@first_leader.to_json
%p=@second_leader.to_json
%p=@third_leader.to_json
%p=@fourth_leader.to_json
%p=@half_round.to_json
%p=@game.to_json
%p=@first_leader_score.to_json
%p=@second_leader_score.to_json
%p=@third_leader_score.to_json
%p=@fourth_leader_score.to_json
%h1 対局画面

.main
  .sub1
    .user1 
      .name1
        name1
      .point1
        2500
      .chip1 
        20
  .sub2
    .user2
      .name2 
      .name2{:style=>"box-sizing: content-box;"}
  .center
  .sub2
  .sub1
    .user1 
      .name1
        name3
      .point1
        2500
      .chip1 
        20