-sheets = Wind.wind_lists
%h1 麻雀
=form_tag("/start/master", :method=>:post, :onsubmit=>"return false;", class:"") do
	-sheets.each do |id, names|
		%p
			=names[1]
			=select_tag names[0], options_for_select(user_name_options)
	=button_tag "対局", :type=>"button", :onclick=>"submit()", :class=>"btn btn-secondary"

=form_tag("/summary/show", :method=>:get) do
	=button_tag "データ", class:"btn btn-info"