-sheets = Wind.wind_lists
%h1 麻雀
-sheets.each do |id, name|
	%p
		=name
		=select_tag :user_id, options_for_select(user_name_options)
=button_tag "対局", class:"btn btn-secondary"
=button_tag "データ", class:"btn btn-info"