<% sheets=['東', '南', '西', '北']%>

<h1>麻雀</h1>

<% sheets.each do |sheet| %>
    <% next if sheet.blank? %>
    <%= sheet %>
    <%= form_with do |f| %>
        <%= f.select :member, [['萩原', '萩原'], ['松田', '松田'], ['加藤', '加藤'], ['川岸', '川岸'], ['山下', '山下']], include_blank: "選択して下さい" %>
    <% end %>  
<% end %>

<%= button_to "ボタン", {controller: 'start', action: 'master'}, {method: :get} %>