/////////////////////////////////////////////////////
//////
////      
//             Initial functions                
//                                              ////
//                                            //////
////////////////////////////////////////////////////

@import "bootstrap";
@import "result";

@mixin margin($t:0%, $r:0%, $b:0%, $l:0%) {
  margin: $t $r $b $l;
  padding: 0%;
}

@mixin margin_top($t:0%, $r:0%, $b:0%, $l:0%) {
  margin: $t $r $b $l;
  padding: 0%;
  vertical-align: top;
}

@mixin wh($w:100%, $h:100%) {
  width: $w;
  height: $h;
}

@mixin font_setup() {
  font-size: 5vmin;
  margin: 0%;
  padding: 0%;
}

@mixin border($trbl:a) {
  $color: #000000;
  @if $trbl == a {
    border: medium solid $color;
  } @else if $trbl == t {
    border-top: medium solid $color;
  } @else if $trbl == l {
    border-left: medium solid $color;
  } @else if $trbl == b {
    border-bottom: medium solid $color;
  } @else if $trbl == r {
    border-right: medium solid $color;
  }
}
/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
//////
////      
//                 Main body                
//                                              ////
//                                            //////
////////////////////////////////////////////////////
html, body {
  height: 100%;
  background-color: rgb(241, 241, 241);
}


/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
//////
////      
//        Majan table and User status                
//                                              ////
//                                            //////
////////////////////////////////////////////////////
.main {
  @include margin();
  @include wh(100%, 93%);
  font-size: 0;
  text-align: center;
}

.center {
  @include margin(1%, 1%, 1%, 1%);
  @include wh(40%, 60%);
  display: inline-block;
  background-color: rgb(13, 128, 0);
}

//////////////////  user1  //////////////////////////
.user1 {
  @include margin(0%, 30%, 0%, 30%);
  @include wh(40%, 15%);
  @include border(a);
}

.name1 {
  @include margin();
  @include wh(100%, 50%);
  @include font_setup();
  @include border(b);
}

.point1 {
  @include margin();
  @include wh(69%, 50%);
  @include font_setup();
  display: inline-block;
}

.chip1 {
  @include margin();
  @include wh(29%, 50%);
  @include font_setup();
  @include border(l);
  display: inline-block;
}

//////////////////  user2  //////////////////////////
.user2 {
  @include margin_top(1%, 0%, 0%, 15%);
  @include wh(10%, 60%);
  @include border(a);
  display: inline-block;
}

.user2_sub {
  @include margin();
  @include wh(49%, 100%);
  display: inline-block;
}

.name2 {
  @include margin_top();
  @include wh(49%, 100%);
  @include font_setup();
  @include border(l);
  display: inline-block;
}

.point2 {
  @include margin_top();
  @include wh(100%, 70%);
  @include font_setup();
  display: inline-block;
}

.chip2 {
  @include margin_top();
  @include wh(100%, 30%);
  @include font_setup();
  @include border(t);
  display: inline-block;
}

.name2 p, .point2 p, .chip2 p{
  font-size: 2vmax;
  transform: rotate(90deg);
  position: relative;
  top: 40%;
  margin: 0%;
  padding: 0%;
}

//////////////////  user3  //////////////////////////
.user3 {
  @include margin(0%, 30%, 0%, 30%);
  @include wh(40%, 15%);
  @include border(a);
}

.name3 {
  @include margin();
  @include wh(100%, 50%);
  @include font_setup();
  @include border(b);
}

.point3 {
  @include margin();
  @include wh(69%, 50%);
  @include font_setup();
  display: inline-block;
}

.chip3 {
  @include margin();
  @include wh(29%, 50%);
  @include font_setup();
  @include border(l);
  display: inline-block;
}


//////////////////  user4  //////////////////////////
.user4 {
  @include margin_top(1%, 15%, 0%, 0%);
  @include wh(10%, 60%);
  @include border(a);
  display: inline-block;
}

.user4_sub {
  @include margin();
  @include wh(50%, 100%);
  display: inline-block;
}

.name4 {
  @include margin_top();
  @include wh(50%, 100%);
  @include font_setup();
  @include border(r);
  display: inline-block;
}

.point4 {
  @include margin_top();
  @include wh(100%, 70%);
  @include font_setup();
  display: inline-block;
}

.chip4 {
  @include margin_top();
  @include wh(100%, 30%);
  @include font_setup();
  @include border(b);
  display: inline-block;
}

.name4 p, .point4 p, .chip4 p{
  font-size: 2vmax;
  transform: rotate(-90deg);
  position: relative;
  top: 40%;
  margin: 0%;
  padding: 0%;
}

//////////////////  options  //////////////////////////
.leader {
  background-color: rgba(191, 79, 19, 0.75);
}

/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
//////
////      
//                Modal Windows               
//                                              ////
//                                            //////
////////////////////////////////////////////////////
// モーダルウィンドウ全体のレイアウト（画面いっぱいに表示）
.c-modal {
  @include margin();
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

// 黒背景の設定
.c-modal_bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}

// ウィンドウの設定
.c-modal_content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 60%;
}

.c-modal_content_inner {
  //position: relative;
  @include wh(60%, 90%);
  padding: 20px;
  display: inline-block;
}

.show_selection {
  background: #000;
  color: #fff;
  //position: relative;
  @include margin_top(20px);
  @include wh(35%, 90%);
  padding: 20px;
  display: inline-block;
}

.show_selection_name {
  @include margin_top();
  @include wh(100%, 10%);

}

.show_selection_result {
  @include margin_top();
  @include wh(100%, auto);
}

/////////////////////////////////////////////////////


/////////////////////////////////////////////////////
//////
////      
//             Accordion Windows               
//                                              ////
//                                            //////
////////////////////////////////////////////////////
.accordion {
  width: 100%;
  margin: 0 auto;
}

.menu {
  background-color: rgb(27, 6, 115);
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  @include wh(100%, auto);
}

.menu:hover,
.menu:active,
.menu.is-active {
  background-color: black;
}

.contents {
  display: none;
  border: 1px solid black;
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
  text-align: center;
}

.contents label{
  white-space: nowrap;
}